<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-inf">
            <p>Compra con cualquier targeta de credito <i class="fa-solid fa-credit-card"></i></p>
            <p>Ofertas y descuentos en pago de contado <i class="fa-solid fa-tag"></i></p>
            <p>Envios gratis a partir de las compra de $9000 <i class="fa-solid fa-truck-fast"></i></p>
        </div>
        <div class="header-main">
            <div class="menu-burger item1">
             <i class="fa-solid fa-bars"></i>
            </div>
            <div class="item2">
                <img src="/images/Logotipo Tienda Fhasion.png" alt="">
            </div>
            <div class="item3">
                    <form action="">
                        <input name="search" id="search" type="text" placeholder="ingrese busqueda">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
            </div>
             <div class="item4">
                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                    <button><i class="fa-solid fa-user"></i></button>
            </div>
        </div>
        <nav>
            <ul>
                <li>tipo1</li>
                <li>tipo2</li>
                <li>tipo3</li>
            </ul>   
        </nav>
    </header>
    <section class="ofertas">
        <img class="img-principal" src="/images/HD-wallpaper-fashion-models-models-beautiful-girls-female-and-men-casual-clothes-fashion-beautiful-boys.jpg" alt="">
        <div class="anuncio-posicion">
            <p class="anuncio">
                COLECCION PRIMAVERA/VERANO 2023
            </p>
            <p class="det-anuncio">Encontra lo que te gusta!!           
            </p>
        </div>
        <div class="c-oferts">
            <div class="c-oferta1">
                <a href=""><img src="/images/mujerps.jpg" alt=""></a>
            </div>
            <div class="c-oferta1">
                <a href=""><img src="/images/ninios.jpg" alt=""></a>
            </div>
            <div class="c-oferta1">
                <a href=""><img src="/images/hombre.jpg" alt=""></a>
            </div>
        </div>
        <button class="btn-off" >Compra ahora!!</button>
    </section>
    <p class="anuncio-of">
        OFERTAS POR CIERRE DE TEMPORADA OTOÑO/INVIERNO
    </p>
    <section class="ofertas-temp">
        <div class="c-ofertas-sale">
            <div class="c-oferta2">
                <a href=""> <img src="/images/mujerps.jpg" alt=""></a>
            </div>
            <div class="c-oferta2">
                <a href=""><img src="/images/ninios.jpg" alt=""></a>
            </div>
        </div>
        <div class="btn-left">
        <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="btn-right">
        <i class="fa-solid fa-chevron-right"></i>
        </div>
        <button class="btn-off-2" >Ver mas ofertas!!</button>
    </section>
    <footer>
        <div class="form-sugerencia"> 
            <form action="">
                <input type="email"name="email" id="email" placeholder="ingresa tu correo" >
                <input type="text" name="" id="" placeholder="envianos tus sugerencias">
                <button>enviar</button>
            </form>
        </div>
        <div class="redes">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i> 
            <i class="fa-brands fa-youtube"></i>
        </div>
    </footer>
</body>
</html>